<div>
    <h1>{{title}} <p  v-if="cur_answer"> >>> {{cur_answer}}</p>  </h1>
    <br>
    <h2>{{question_num}}/{{question_cnt}} {{question}}</h2>
    <br>
    &nbsp;&nbsp;&nbsp;
    {{teststate.TimeLeftString}}
    &nbsp;&nbsp;&nbsp;
    {{teststate.TestIsRunning}}
    <br>

    <table>           
        <tr v-for="item in answers"  v-bind:key="item.id" @click="selectAnswer(item)"
        :class="{'good':(item.id==good_answ),'selected':(item.id==sel_answ)}"
        >
            <td>{{item.id}}</td>
            <td>{{item.answer}}</td>

            <!--
            <td><button @click="settest(item)">TEST</button></td>
            -->
        </tr>
    </table>           



    <br>

<div class="upra">
    <button @click="prev()" :disabled="(question_num==1)">Previous</button>
    &nbsp;&nbsp;&nbsp;
    <button @click="next()"  :disabled="(question_num==question_cnt)||(!!!cur_answer)">Next</button>
    &nbsp;&nbsp;&nbsp;
    <button @click="cancel()" >Cancel</button>
    &nbsp;&nbsp;&nbsp;
    <button @click="ToResultsPage()" :disabled="!enable2result">Jump to Result</button>
    &nbsp;&nbsp;&nbsp;
    <button @click="setTO2_10s()" :disabled="!testisrunning">Set Remain Time to 10s</button>
</div>


</div>